# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/wp-toolkit-management-plugin/
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/themes/hello-elementor/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example
.env.remote

# Composer
/vendor
auth.json

# Local DB dumps
.db-dumps/

# WP-CLI
wp-cli.local.yml
web/wp-toolkit-entry-point.php
.gitignore
web/wp-toolkit-wp-config-backup-*.php
